<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>GPS</display-name>
	<servlet>
		<servlet-name>EngineServlet</servlet-name>
		<servlet-class>org.eclipse.birt.report.servlet.BirtEngineServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/preview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateImageServlet.servlet</servlet-name>
		<servlet-class>com.hanthink.gps.util.barCode.CreateImageServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateImageServlet.servlet</servlet-name>
		<url-pattern>/images/servlet/CreateImage.servlet</url-pattern>
		<url-pattern>/servlet/CreateImage.servlet</url-pattern>
		<url-pattern>/order/servlet/CreateImage.servlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>birtFilter</filter-name>
		<filter-class>com.hanthink.gps.util.interceptor.BirtFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>birtFilter</filter-name>
		<url-pattern>/preview</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>directInputFilter</filter-name>
		<filter-class>com.hanthink.gps.util.interceptor.DirectUrlInputCheck
		</filter-class>
	</filter>
	<filter>
		<filter-name>Log4jNDCFilter</filter-name>
		<filter-class>com.hanthink.gps.util.logger.Log4jNDCFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>directInputFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Log4jNDCFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application*.xml,/WEB-INF/applicationMail.xml
		</param-value>
	</context-param>
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>com.hanthink.gps.util.listener.SWHttpSessionListener
		</listener-class>
	</listener>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>pages</web-resource-name>
			<url-pattern>/pages/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<error-page>
		<error-code>403</error-code>
		<location>/login.action</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>/login.jsp</welcome-file>
	</welcome-file-list>
	<mime-mapping>
		<extension>sql</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
</web-app>