<!doctype html>
<html ng-app="mobileDirective">
<head>
<title>X5手机平台</title>
<meta charset="utf-8">
<script src="../assets/js/importJs.js"></script>
</head>
<body list-load="/mobile/bpm/myRequestListJson" >
<div class="page">
<header class="hkm-red-header bar bar-nav">
	  <a class="icon icon-left pull-left back" href="workbench.html" external></a>
	  <span class='title'>我的发起</span>
</header>
<div class="content pull-to-refresh-content infinite-scroll">
  	 <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
    </div>
  	<div class="daiban-page mydaiban">
	      <div class="myDaibanTab buttons-tab">
		    <a href="#tab1" class="tab-link active button">运行中</a>
		    <a href="#tab2" class="tab-link button">已撤销</a>
		    <a href="#tab3" class="tab-link button">已撤销到发起人</a>
		    <a href="#tab4" class="tab-link button">驳回</a>
		  </div>
		  <div class="content-block">
		    <div class="tabs">
		    	<!--已通过页start-->
		      <div id="tab1" class="tab active">
		        <div class="content-block">
		          <div class="list-block media-list">
					    <ul>
					      <li ng-if="instance.status=='running'" ng-repeat="instance in dataList">
					        <div class="item-content">
					          <div class="item-media"><div class="point-success"></div></div>
					          <div class="item-inner">
					            <div class="item-title-row">
					              <div class="item-title">{{instance.creator}}-{{instance.procDefName}}</div>
					            </div>
					            <div class="item-subtitle"><a class="item-title" ng-bind-html="instance.subject" href="getProcessRun.html?runId={{instance.id}}" external></a>{{instance.createTime |countDate}}</div>
					          </div>
					        </div>
					      </li>
					    </ul>
				 </div>
				</div>
			</div>
		      <div id="tab2" class="tab">
		        <div class="content-block">
		          <div class="list-block media-list">
					    <ul>
					      <li ng-if="instance.status=='revoke'" ng-repeat="instance in dataList">
					        <div class="item-content">
					          <div class="item-media"><div class="point-success"></div></div>
					          <div class="item-inner">
					            <div class="item-title-row">
					              <div class="item-title">{{instance.creator}}-{{instance.procDefName}}</div>
					            </div>
					            <div class="item-subtitle"><a class="item-title" ng-bind-html="instance.subject" href="getProcessRun.html?runId={{instance.id}}" external></a>{{instance.createTime |countDate}}</div>
					          </div>
					        </div>
					      </li>
					    </ul>
				 </div>
				</div>
			</div>
		      <div id="tab3" class="tab">
		        <div class="content-block">
		          <div class="list-block media-list">
					    <ul>
					      <li ng-if="instance.status=='revokeToStart'" ng-repeat="instance in dataList">
					        <div class="item-content">
					          <div class="item-media"><div class="point-success"></div></div>
					          <div class="item-inner">
					            <div class="item-title-row">
					              <div class="item-title">{{instance.creator}}-{{instance.procDefName}}</div>
					            </div>
					            <div class="item-subtitle"><a class="item-title" ng-bind-html="instance.subject" href="getProcessRun.html?runId={{instance.id}}" external></a>{{instance.createTime |countDate}}</div>
					          </div>
					        </div>
					      </li>
					    </ul>
				 </div>
				</div>
			</div>
		      <div id="tab4" class="tab">
		        <div class="content-block">
		          <div class="list-block media-list">
					    <ul>
					      <li ng-if="instance.status=='back'" ng-repeat="instance in dataList">
					        <div class="item-content">
					          <div class="item-media"><div class="point-success"></div></div>
					          <div class="item-inner">
					            <div class="item-title-row">
					              <div class="item-title">{{instance.creator}}-{{instance.procDefName}}</div>
					            </div>
					            <div class="item-subtitle"><a class="item-title" ng-bind-html="instance.subject" href="getProcessRun.html?runId={{instance.id}}" external></a>{{instance.createTime |countDate}}</div>
					          </div>
					        </div>
					      </li>
					    </ul>
				 </div>
				</div>
			</div>
		  </div>
		 </div>
	</div>
       <div ng-if="dataList.length==0" class="content-block-title">未查到任何数据 </div>
  </div>
</div>
</body>
<script type="text/javascript">
	$(function(){
		$(document).on("click", ".tab-link.button", function(e) {
		    var b = $(e.target);
		    b.parent().find(".active").removeClass("active");
		    b.addClass("active");
		    var c = $(b.attr("href"));
		    c.siblings().find(".active").removeClass("active");
		    c.addClass("active");
		});
	})
</script>
</html>
